@model IndexViewModel
@{
  ViewData["Title"] = "Twitter Search";
}

<h2>Search Twitter</h2>
<div class="form-group">
  <form asp-action="SearchResults" method="post">
    <p>
      <label asp-for="Query">Search for: </label>
      <input asp-for="Query" required />
    </p>
    <br />

    <p>Optional:</p>
    <p>
      <label asp-for="Type">Search Type: </label>
      <select asp-for="Type" asp-items="Html.GetEnumSelectList<Tweetinvi.Models.SearchResultType>()">
        <option selected="selected" value="">Please select</option>
      </select>
    </p>
    <p>
      <label asp-for="MaxResults">Max Per Page</label>
      <input asp-for="MaxResults" min=1 max=100 value=100 />
    </p>
    <p>
      <input asp-for="HasLocation" onchange="toggleShowMapPicker()" />
      <label asp-for="HasLocation">Has Location Data</label>
    </p>
    <div id="mapPickerSection" style="display:none">
      <div id="map"></div>
      <p>
        <label asp-for="Lat">Lat: </label>
        <input asp-for="Lat" />
      </p>
      <p>
        <label asp-for="Long">Lat: </label>
        <input asp-for="Long" />
      </p>
      <p>
        <label asp-for="RadiusMiles">Search Radius (miles)</label>
        <input asp-for="RadiusMiles" />
      </p>
      </div>
      <br />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

@section Scripts {
  <script>
      function toggleShowMapPicker() {
        console.log("click!");
    var x = document.getElementById("mapPickerSection");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
  </script>
  <script src="/js/map.js"></script>
  <!--Load the API from the specified URL
  * The async attribute allows the browser to render the page while the API loads
  * The key parameter will contain your own API key (which is not needed for this tutorial)
  * The callback parameter executes the initMap() function
  -->
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=@MyCredentials.GOOGLE_MAPS_APIKEY&callback=initMap"></script>
}