@model IEnumerable<Tweetinvi.Models.ITweet>
@{
    ViewData["Title"] = "Home Page";
}

    @foreach (var tweet in Model)
    {
            <div class="panel panel-default">
                <div class="panel-body">
                    @tweet.FullText
                </div>
                <div class="panel-footer">Posted by @tweet.CreatedBy.Name on @tweet.CreatedAt.ToString()</div>
            </div>
    }